<div class="container">

    <div class="row">
        <div class="col-sm-6 col-sm-push-3">

            <h3>Login:</h3>
            <form class="form" action="index.php" method="post">

                <div class="form-group">
                    <label class="control-label" for="username">Benutzername</label>
                    <input class="form-control" type="text" name="username" value="" id="username">

                </div>

                <div class="form-group">
                    <label class="control-label" for="passwort">Passwort</label>
                    <input class="form-control" type="password" name="passwort" value="" id="passwort">

                </div>

                <input type="hidden" name="cmd" value="login" />
                <input class="btn btn-primary" type="submit" name="anmelden" value="anmelden" />

            </form>
        </div>
    </div>
</div>