<p class="strong">{title}, {interpret}</p>
<br>
<label><input type="radio" name="meinung" value="1" onclick="sendMuckermeinung({id}, '{musiker}', 1)" {meinung_1_checked}> Nicht begonnen</label><br>
<label><input type="radio" name="meinung" value="4" onclick="sendMuckermeinung({id}, '{musiker}', 4)" {meinung_4_checked}> Will ich nicht</label><br>
<label><input type="radio" name="meinung" value="5" onclick="sendMuckermeinung({id}, '{musiker}', 5)" {meinung_5_checked}> fertig</label><br>
<label><input type="radio" name="meinung"  onclick="popup.destroy()"> abbrechen</label><br>
