<tr id="song_{id}">
    <td align="right">{zaehler})</td>
    <td class="{statusClass} indikator" id="title_{id}">{title}</td>
    <td class="{statusClass} indikator" id="interpret_{id}">{interpret}</td>
    <td class="{statusClass} indikator" id="bpm_{id}" align="right">{bpm}</td>
    <td><span class="glyphicon glyphicon-info-sign" onclick="getArr({id})" style="cursor:pointer"></span></td>
    <td><a href="index.php?idt=editSong&song_id={id}"><span class="glyphicon glyphicon-pencil"></span></a></td>
    <td>{txt_link}</td>
    <td>{mp3_link}</td>
    <td><i class="fa  {icon_r} {class_r}" id="r_{id}" onclick="muckerMenue({id}, 'r')"></i></td>
    <td><i class="fa  {icon_b} {class_b}" id="b_{id}" onclick="muckerMenue({id}, 'b')"></i></td>
    <td><i class="fa  {icon_k} {class_k}" id="k_{id}" onclick="muckerMenue({id}, 'k')"></i></td>
    <td><i class="fa  {icon_p} {class_p}" id="p_{id}" onclick="muckerMenue({id}, 'p')"></i></td>
    <td><i class="fa  {icon_t} {class_t}" id="t_{id}" onclick="muckerMenue({id}, 't')"></i></td>
    <td><i class="fa fa-smile-o text-primary" id="geprobt_{id}" onclick="playedManager.updateProbeDatum({id})"></i></td>
    <td><small>{notiz}</small></td>
</tr>