<div onclick="erfolgManager.changeErfolgStatus({ps_id})" id="erfolg_class_{ps_id}" class="col-sm-8">
    <span class="verySmall">
    <span class="{icon_color_class_0}" id="erfolg_color_0_{ps_id}" ><i id="erfolg_icon_0_{ps_id}" class="fa {iconClass_0}"></i></span>
    <span class="{icon_color_class_1}" id="erfolg_color_1_{ps_id}" ><i id="erfolg_icon_1_{ps_id}" class="fa {iconClass_1}"></i></span>
    <span class="{icon_color_class_2}" id="erfolg_color_2_{ps_id}" ><i id="erfolg_icon_2_{ps_id}" class="fa {iconClass_2}"></i></span>
    <span class="{icon_color_class_3}" id="erfolg_color_3_{ps_id}" ><i id="erfolg_icon_3_{ps_id}" class="fa {iconClass_3}"></i></span>
    <span class="{icon_color_class_4}" id="erfolg_color_4_{ps_id}" ><i id="erfolg_icon_4_{ps_id}" class="fa {iconClass_4}"></i></span>
    </span>
</div>