<br><br>
<br><br>
<div class="row songRow" id="song_{id}" data-songid="{id}" data-title="{title}">
    <div class="col-xs-1 col-md-1" align="right"><strong>Nr.</strong></div>
    <div class="col-xs-5 col-md-2"><strong>Titel</strong></div>
    <div class="col-xs-6 col-md-2"><strong>Interpret</strong></div>
    <div class="col-xs-12 col-md-3">
        <div class="col-xs-1 col-md-1"><strong>BPM</strong></div>
        <div class="col-xs-1 col-md-1"><strong>BPM</strong></div>
        <div class="col-xs-1 col-md-1"><strong>Info</strong></div>
        <div class="col-xs-1 col-md-1"><strong>edit</strong></div>
        <div class="col-xs-1 col-md-1"><strong>Text</strong></div>
        <div class="col-xs-1 col-md-1"><strong>MP3</strong></div>
        <div class="col-xs-1 col-md-1"><strong>r</strong></div>
        <div class="col-xs-1 col-md-1"><strong>b</strong></div>
        <div class="col-xs-1 col-md-1"><strong>k</strong></div>
        <div class="col-xs-1 col-md-1"><strong>t</strong></div>
        <div class="col-xs-1 col-md-2"><strong>Probe</strong></div>
    </div>
        <div class="col-xs-6 col-md-2"><strong>Notiz</strong></div>
        <div class="col-xs-6 col-md-2"><select id="playlistSelect">{options}</select></div>
</div>



            {rows}


<script type="application/javascript">

    var probeFilter;
    require(["avaris/probeFilter", "dojo/ready"], function (probeFilter, ready) {
        ready(function () {
            probeFilter = new probeFilter();
        });
    });
</script>

